.image-container
{
position:relative; 
height:500px;
opacity: 0.6;
}

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0e1e59;
    text-align: center;
    color: #4CAF50;
}

.login-btn{
border-radius: 8px;
border: none;
background-color:#c65a01;
color: white;
text-align: center;
font-size: 16px;
position: absolute;
height: 40px;
width:150px;
bottom: 30px;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0; 
}
.app-name{
color: #0f082d;
text-align: center;
font-size: 150px;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top:150px; 
}

