.image-container
{
position:relative; 
height:508px;

}

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0e1e59;
    text-align: center;
    color: #4CAF50;
}

.app-name{
 color: #0e1e59;
text-align: center;
font-size: 90px;
font-family: "Comic Sans MS", cursive, sans-serif;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top:25%;
}

.about-text{
color: #0e1e59;
text-align: center;
font-size: 40px;
font-family: "Comic Sans MS", cursive, sans-serif;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top:40%;
}