.form-design {
    width: 770px;
    margin: auto;
}

.form-description {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.ng-valid[required], .ng-valid.required  {
  border-bottom: 1px solid #008d8f !important;
  box-shadow: 0 1px 0 0 #008d8f !important;
}

.form-select-attendency {
    width: 210px;
    display: inline-block;
}

.delete-course-button {
    float: right;
}

.course-rang {
    display: inline-block;
    span {
        margin-right: 20px;
    }
}

.course-study-programme, .course-name {
    border-bottom: 1px solid #aaa;
    height: 44.5px;
    padding-top: 5px;
}

.course-name {
    margin-right: 10px;
}

.course-grade {
    margin-top: 0px;
}

.course-checkbox {
    padding-left: 25px;
    color: black;
    line-height: 17px;
    height: 30px;
}

.modal {
    position: absolute;
    border-radius: 6px;
    height: 550px;
    /* overflow: hidden; */
}

.modal-close-button {
    padding-left: 0px;
    float: right;
    padding-right: 0px;
    color: #001c1c;
    i{
        font-size: 1.7rem;
    }
}

.modal-content {
    position: absolute;
    padding: 0;
    overflow: auto;
    /* height: 550px; */
}

.modal-title {
    font-size: 24px;
    width: 100%;
    height: 70px;
    padding: 15px;
    background-color: #008d8f;
    color: #ffffff;
}

.modal-courses {
    padding: 24px;
}

.modal-button {
    background-color: #008d8f;
    color: #fff;
    margin-right: 10px !important;
    margin-top: 0px !important;
    &:hover {
        background-color: #007072;
    }
    &:focus {
        background-color: #007072;
    }
}

.modal-footer {
    height: 60px;
    border-top: 1px solid #cecece;
    background-color: #efefef;
    padding-top: 9px;
}

.position-arrow{
    width: 52px;
    float: right;
    .arrow-upward, .arrow-downward{
        &:hover{
            i{
                border-radius: 50%;
                background-color: #008d8f;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

.trigger-modal-btn{
    background-color: #008d8f;
    width: 100%;
    margin-bottom: 20px;
}

.form-btn{
    text-align: right;
    button{
        background-color: #ce7a29;
    }
}

.help-block{
    color: #e50000;
}

.loading{
    color:#0e1e59;
    font-size: 20px;
}