<div class="row">
    <form materialize class="form-design" name="form" #myForm="ngForm" (ngSubmit)="myForm.form.valid && register(myForm)" novalidate>
        <h5 class="form-description">
            <span class="row">OBRAZAC PRIJAVE ZA DEMONSTRATURU</span>
            <span class="row">ZA {{semester}} SEMESTAR AK. GODINE {{academicYear}}</span>
            <!--<span class="row">
                ZA STUDENTE KOJI PO PRVI PUT SLUŠAJU PREDMET
            </span>-->
        </h5>
        <div class="row">
            <div class="input-field col s6" [ngClass]="{ 'has-error': myForm.submitted && !firstName.valid }">
                <input name="firstName" id="firstName" type="text" class="validate" placeholder="Ime"
                    [(ngModel)]="model.firstName" #firstName="ngModel" [disabled]="disableFirstNameInput" required />
                <label class="active" for="firstName">Ime</label>
                <div *ngIf="myForm.submitted && !firstName.valid" class="help-block">Ovo polje je obavezno</div>
            </div>
            <div class="input-field col s6" [ngClass]="{ 'has-error': myForm.submitted && !lastName.valid }">
                <input name="lastName" id="lastName" type="text" class="validate" placeholder="Prezime"
                    [(ngModel)]="model.lastName" #lastName="ngModel" [disabled]="disableLastNameInput" required>
                <label class="active" for="lastName">Prezime</label>
                <div *ngIf="myForm.submitted && !lastName.valid" class="help-block">Ovo polje je obavezno</div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6" [ngClass]="{ 'has-error': myForm.submitted && !averageGrade.valid }">
                <input name="averageGrade" id="averageGrade" type="number" class="validate"
                    [(ngModel)]="model.averageGrade" #averageGrade="ngModel" required>
                <label class="active" for="averageGrade">Prosjek ocjena</label>
                <div *ngIf="myForm.submitted && !averageGrade.valid" class="help-block">Ovo polje je obavezno</div>
            </div>
            <div class="input-field col s6" [ngClass]="{ 'has-error': myForm.submitted && !demonstrationHours.valid }">
                <input name="demonstrationHours" id="demonstrationHours" type="number" class="validate"
                    [(ngModel)]="model.demonstrationHours" #demonstrationHours="ngModel" required>
                <label class="active" for="demonstrationHours">
                    Željeni broj sati demonstrature u {{semester?.toLowerCase().substring(0,5)}}om semestru
                </label>
                <div *ngIf="myForm.submitted && !demonstrationHours.valid" class="help-block">Ovo polje je obavezno</div>
            </div>
        </div>
        <!-- Modal Trigger Start-->
        <div class="col s12">
            <a class='btn waves-effect waves-light btn modal-trigger trigger-modal-btn' data-target='demoModal' modal materialize open="openModal">
                Odabir kolegija
            </a>
        </div>
        <!-- Modal Trigger End-->
        <div ngModelGroup="selectedCourses" >
            <div *ngFor="let course of checkedCourses; let i=index">
                <label class="col s12">
                    {{i + 1}}. odabir
                </label>
                <div class="row">
                    <div class="col s4 course-name">
                        {{course?.courseName}}
                    </div>
                    <div class="col s4 course-study-programme">
                        {{course?.studyLevel}}
                    </div>
                    <div class="input-field col s3 course-grade" [ngClass]="{ 'has-error': myForm.submitted && !courseGrade[i].valid }">
                        <input name="courseGrade[{{i}}]" type="number" class="validate"
                            placeholder="Ocjena iz predmeta" id="courseGrade[{{i}}]" [(ngModel)]="courseGrade[i]" required>
                        <div *ngIf="myForm.submitted && !courseGrade[i].valid" class="help-block">Ovo polje je obavezno</div>  
                    </div>
                    <div class="position-arrow">
                        <span class="arrow-upward" (click)="courseUp(i)"><i class="material-icons">arrow_upward</i></span>
                        <span class="arrow-downward" (click)="courseDown(i)"><i class="material-icons">arrow_downward</i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 form-btn">
            <button class="btn waves-effect waves-light" type="submit" name="action">Pošalji
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

<!-- Modal Structure -->
<div id="demoModal" class="modal" materialize="modal">
    <div class="modal-content">
        <div class="modal-title">
            <span class="col s4">Izaberite kolegije za koje se želite prijaviti</span>
            <a class="col s2 modal-close-button modal-action modal-close waves-effect waves-green btn-flat">
                <i class="material-icons">clear</i>
            </a>
        </div>
        <div *ngFor="let course of courses; let i=index">
            <div class="row"> 
                <input class="col s1" type="checkbox" id="{{i}}" [(ngModel)]="courseSelected[i]"
                name="courseSelected[{{i}}]" (change)="checkboxChanged()" [disabled]="disableSelect[i]">
                <label for="{{i}}" class="col s11 course-checkbox">
                    <div class="col s6">
                        {{course?.courseName}}
                    </div>
                    <div class="col s6">
                        {{course?.studyLevel}}
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect btn-flat modal-button" (click)="checkboxSubmit()">Potvrdi</a>
    </div>
</div>