<div class="sidebar">
    <ul>
        <li id="normalSchedule" (click)="normalSchedule('normalSchedule')">Raspored - sve</li>
        <li id="mySchedule" (click)="mySchedule('mySchedule')">Raspored mojih kolegija</li>
        <li id="demoSchedule" (click)="demoSchedule('demoSchedule')">Demonstratorski kolegij</li>
        <li id="chosenDemo" (click)="chosenDemo('chosenDemo')">Izabrane demonstrature</li>
        <li id="availableDemo" (click)="availableDemo('availableDemo')">Dostupne demonstrature</li>
        <li id="myStatistic" (click)="myStatistic(myStatistic)">Statistika demonstratura</li>
    </ul>
</div>
<div class="table-part">
    <table class="schedule-table">
        <tr>
            <th></th>
            <th *ngFor="let day of weekDays; let i = index" id="s,{{i+1}}">
                <div>{{day}}</div>
                <div>{{weekDates[i]}}</div>
            </th>
        </tr>
            <tr *ngFor="let time of scheduleTime; let i = index">
                <td><div>{{time.start}}</div><div>{{time.end}}</div></td>
                <td id="{{i+1}},1"></td>
                <td id="{{i+1}},2"></td>
                <td id="{{i+1}},3"></td>
                <td id="{{i+1}},4"></td>
                <td id="{{i+1}},5"></td>
                <td id="{{i+1}},6"></td>
            </tr>
    </table>
</div>