<div class="layout-style">
    <header class="header">
        <div class="logo-container">
        <img [routerLink]="['/main']" src="assets/images/studemos.png" class="logo-img"/></div>
    </header>
    <main>
        <div>
                <router-outlet></router-outlet>
        </div>
    </main>
    <footer class="footer">
        <div class="container group">
            <p class="footer__copy type--light type--small pull spc--bottom--sml">Copyright @ <a class="footer__link" href="javascript:void(0);" style="color:#ce7a29;">Grof</a></p>
        </div>
    </footer> 
</div>