<div class="layout-style">
    <header class="header">
        <div class="logo-container">
            <img [routerLink]="['/main']" src="assets/images/studemos.png" class="logo-img"/>
        </div>
        <div *ngIf="isLogged" class="membership">
          <button class="member-btn" (click)="logout()" >Odjava</button>
        </div>
        <div *ngIf="!isLogged" class="membership">
          <button  class="member-btn" [routerLink]="['/login']" >Prijava</button>
          <button  class="member-btn" [routerLink]="['/register']" >Registracija</button>
          </div>
    </header>
    <main class="main">
       <router-outlet></router-outlet>
    </main>   
</div>