<div align="center" *ngIf="loading" class="loading">
        <img  src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />        
        <p>{{loadingMessage}}</p>
    </div>
<form *ngIf="professors" class="bulkActions" display="block">
    
    <select display="block">
        <option value="remove" selected >Ukloni</option>   
    </select>
    <button (click)="DeleteCheckedProfessors()" style="margin-left:5px">Primijeni</button>
</form>
<table *ngIf="professors">
    <tr>
        <th width="2%" style="font-size:12px"><input type="checkbox" #All (click)="selectAll(All.checked)" name="select" title="Odaberi sve" >
            <label for="select">Odaberi sve</label>
        </th>
        <th><a class="sort" (click)="sortProfessors('lastName')" href="javascript:void(0)" >Ime i prezime profesora</a></th>
        <th><a class="sort" (click)="sortProfessors('joinDate')" href="javascript:void(0)" >Datum prijave</a></th>     
        <th>Popis kolegija</th>   
        <th>Opcije</th>
        
    </tr>
    <ng-container *ngFor="let professor of professors;  let i = index" [attr.data-index]="i">
        <tr>
            <td><input type="checkbox" name="select" title="Odaberi" #One [checked]="checkedProfessors[i]" (change)="select(One.checked,i)">
                <label for="select"></label>
            </td>
            <td>{{professor?.firstName}} {{professor?.lastName}}</td>
            <td>{{professor?.joinDate | date: 'dd/MM/yyyy'}}</td>    
            <td style="text-align:left;">
                <div *ngIf="professor?.courses.length==0"><p style="display:inline">Ovaj profesor trenutno nema unesenih kolegija</p></div>                                    
                <p *ngIf="professor?.courses?.length>0" style="display:inline"><span>{{professor?.courses[0].courseName}} </span><span *ngIf="professor?.courses.length>1" href="" style="float:right" (click)="collapse(i)">&#9660;</span></p><br>
                <div  [hidden]="hiddenCourses[i]" class="hiddenCourses">
                    <div *ngIf="professor?.courses.length>1"><hr><p style="display:inline"><span>{{professor?.courses[1].courseName}} </span></p><br><br></div>
                    <div *ngIf="professor?.courses.length>2"><hr><p style="display:inline"><span>{{professor?.courses[2].courseName}} </span> </p><br><br> </div>
                    <div *ngIf="professor?.courses.length>3"><hr><p style="display:inline"><span>{{professor?.courses[3].courseName}} </span> </p><br><br></div> 
                    <div *ngIf="professor?.courses.length>4"><hr><p style="display:inline"><span>{{professor?.courses[4].courseName}} </span> </p><br><br></div> 
                    <div *ngIf="professor?.courses.length>5"><hr><p style="display:inline"><span>{{professor?.courses[5].courseName}} </span> </p><br><br></div>                     
                </div>
            </td>    
            <td>
                <button (click) = "EditProfessor(professor)" class="btn accept" style="margin-bottom:5px">Izmijeni</button>
                <button (click) = "DeleteProfessor(professor)" class="btn decline">Ukloni</button>
            </td>
        </tr>
    </ng-container>
</table>
<button (click)="CreateProfessor()" class="btn prof-add">Dodaj novog profesora</button>    
