<div align="center" *ngIf="loading" class="loading">
    <img  src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />        
    <p>{{loadingMessage}}</p>
</div>

<form *ngIf="applications" class="bulkActions" display="block">
    
    <select  (change)="onSelect($event.target.value)" display="block">
        <option [ngValue]="selectedValue" value="accept" selected>Prihvati</option>
        <option [ngValue]="selectedValue" value="decline" >Odbij</option>
    </select>
    <button (click)="ApplySelected()" style="margin-left:5px">Primijeni</button>
</form>
<table *ngIf="applications">
    <tr>
        <th width="2%" style="font-size:12px"><input type="checkbox" #All (click)="selectAll(All.checked)" name="select" title="Odaberi sve" >
            <label for="select">Odaberi sve</label>
        </th>
        <th><a class="sort" (click)="sortApplies('lastName')" href="javascript:void(0)">Ime i prezime studenta</a></th>
        <th><a class="sort" (click)="sortApplies('applyDate')" href="javascript:void(0)">Datum prijave</a></th>
        <th><a class="sort" (click)="sortApplies('gradeAverage')" href="javascript:void(0)">Prosjek ocjena</a></th>
        <th width="10%"><a class="sort" (click)="sortApplies('numberOfApplyHours')" href="javascript:void(0)">Željeni broj sati demonstrature</a></th>     
        <th>Prioritet kolegija</th>   
        <th>Ocjene kolegija</th>   
        <th>Opcije</th>
        
    </tr>
    <ng-container *ngFor="let apply of applications;  let i = index" [attr.data-index]="i">
        <tr>
            <td  [ngClass]="apply?.applyStatus == 0 ? 'pending': 'accepted'">
                <input  type="checkbox" name="select" title="Odaberi" #One [checked]="checkedApplications[i]" (change)="select(One.checked,i)">
                <label for="select"></label>
            </td>
            
            <td [ngClass]="apply?.applyStatus == 0 ? 'pending': 'accepted'">{{apply?.firstName}} {{apply?.lastName}}</td>
            <td [ngClass]="apply?.applyStatus == 0 ? 'pending': 'accepted'">{{apply?.applyDate | date: 'dd/MM/yyyy'}}</td>
            <td [ngClass]="apply?.applyStatus == 0 ? 'pending': 'accepted'">{{apply?.gradeAverage}}</td>
            <td [ngClass]="apply?.applyStatus == 0 ? 'pending': 'accepted'">{{apply?.numberOfApplyHours}}</td>    
            <td style="text-align:left;" [ngClass]="apply?.applyStatus == 0 ? 'pending': 'accepted'">
                <p style="display:inline"><span>1. {{apply?.selections[0].courseName}}</span><span *ngIf="apply?.selections.length>1" href="" style="float:right" (click)="collapse(i)">&#9660;</span></p><br>
                <div  [hidden]="hiddenCourses[i]" class="hiddenCourses">
                    <div *ngIf="apply?.selections.length>1"><hr><p style="display:inline"><span>2. {{apply?.selections[1].courseName}} </span> <span style="float:right; margin-right:15%"><span (click)="changePriority(i,1,true)">&#9651;</span>  <span (click)="changePriority(i,1,false)">&#9661;</span></span></p><br><br></div> 
                    <div *ngIf="apply?.selections.length>2"><hr><p  style="display:inline"><span>3. {{apply?.selections[2].courseName}}</span> <span style="float:right; margin-right:15%"><span (click)="changePriority(i,2,true)">&#9651;</span>  <span (click)="changePriority(i,1,false)">&#9661;</span></span></p><br><br></div>
                    <div *ngIf="apply?.selections.length>3"><hr><p  style="display:inline"><span>4. {{apply?.selections[3].courseName}}</span> <span style="float:right; margin-right:15%"><span (click)="changePriority(i,3,true)">&#9651;</span>  <span (click)="changePriority(i,1,false)">&#9661;</span></span></p><br><br></div>
                    <div *ngIf="apply?.selections.length>4"><hr><p  style="display:inline"><span>5. {{apply?.selections[4].courseName}} </span> <span style="float:right; margin-right:15%"><span (click)="changePriority(i,4,true)">&#9651;</span>  <span (click)="changePriority(i,1,false)">&#9661;</span></span></p><br><br></div>
                </div>
            </td>  
            <td style="text-align:left;" [ngClass]="apply?.applyStatus == 0 ? 'pending': 'accepted'">
                <p style="display:inline"><span>1. {{apply?.selections[0].courseGrade}}</span><span *ngIf="apply?.selections.length>1" href="" style="float:right" (click)="collapse(i)">&#9660;</span></p><br>
                <div  [hidden]="hiddenCourses[i]" class="hiddenCourses">
                    <div *ngIf="apply?.selections.length>1"><hr><p style="display:inline"><span>2. {{apply?.selections[1].courseGrade}} </span> <span style="float:right; margin-right:15%"></span></p><br><br></div> 
                    <div *ngIf="apply?.selections.length>2"><hr><p  style="display:inline"><span>3. {{apply?.selections[2].courseGrade}}</span> <span style="float:right; margin-right:15%"></span></p><br><br></div>
                    <div *ngIf="apply?.selections.length>3"><hr><p  style="display:inline"><span>4. {{apply?.selections[3].courseGrade}}</span> <span style="float:right; margin-right:15%"></span></p><br><br></div>
                    <div *ngIf="apply?.selections.length>4"><hr><p  style="display:inline"><span>5. {{apply?.selections[4].courseGrade}} </span> <span style="float:right; margin-right:15%"></span></p><br><br></div>
                </div>
            </td>   
            <td [ngClass]="apply?.applyStatus == 0 ? 'pending': 'accepted'">
                <button *ngIf="apply?.applyStatus==0" (click)="AcceptApply(apply)" class="btn accept" style="margin-bottom:5px">Potvrdi</button>
                <button *ngIf="apply?.applyStatus==0" (click)="DeclineApply(apply)" class="btn decline">Odbij</button>
                <button *ngIf="apply?.applyStatus==1" (click)="DeclineApply(apply)" class="btn decline">Odbij</button>
                
            </td>
        </tr>
    </ng-container>
    
    
</table>
