<form class="bulkActions" display="block">
        
        <select display="block">
            <option value="change" selected>Izmijeni</option>               
            <option value="remove" >Ukloni</option>   
        </select>
        <button style="margin-left:5px">Primijeni</button>
    </form>
    <table>
        <tr>
            <th width="2%" style="font-size:12px"><input type="checkbox" #All (click)="selectAll(All.checked)" name="select" title="Odaberi sve" >
                <label for="select">Odaberi sve</label>
            </th>
            <th>Naziv kolegija</th>
            <th>Šifra kolegija</th>      
            <th>Semestar izvođenja</th>                        
            <th>Popis profesora</th>  
            <th>Popis demonstratora</th>               
            <th>Opcije</th>
            
        </tr>
        <ng-container *ngFor="let course of courses;  let i = index" [attr.data-index]="i">
            <tr>
                <td><input type="checkbox" name="select" title="Odaberi" #One [checked]="checkedCourses[i]" (change)="select(One.checked,i)">
                    <label for="select"></label>
                </td>
                <td>{{course?.courseName}}</td>
                <td>{{course?.courseCode}}</td> 
                <td>{{course?.semester}}.</td>   
                <td style="text-align:left;">
                    <div *ngIf="course?.professorNames"><p  style="display:inline"><span>{{course?.professorNames[0]}}</span><span *ngIf="course?.professorNames.length>1" href="" style="float:right" (click)="collapse(i)">&#9660;</span></p><br>
                    <div  [hidden]="hiddenCourses[i]" class="hiddenCourses">
                        <div *ngIf="course?.professorNames.length>1"><hr><p style="display:inline"><span>{{course?.professorNames[1]}}</span></p><br><br></div>
                        <div *ngIf="course?.professorNames.length>2"><hr><p style="display:inline"><span>{{course?.professorNames[2]}} </span> </p><br><br> </div>
                        <div *ngIf="course?.professorNames.length>3"><hr><p style="display:inline"><span>{{course?.professorNames[3]}}</span> </p><br><br> </div>
                        <div *ngIf="course?.professorNames.length>4"><hr><p style="display:inline"><span>{{course?.professorNames[4]}} </span> </p><br><br> </div>
                    </div>
                </div>
                </td>   
                <td style="text-align:left;">
                    <div *ngIf="course?.studentsNames">
                        <div *ngIf="course?.studentsNames.length>0"><p *ngIf="course?.studentsNames.length>0" style="display:inline"><span>{{course?.studentsNames[0]}}</span></p><br></div>
                        <div *ngIf="course?.studentsNames.length>1"><hr><p style="display:inline"><span>{{course?.studentsNames[1]}}</span></p><br><br></div>
                        <div *ngIf="course?.studentsNames.length>2"><hr><p style="display:inline"><span>{{course?.studentsNames[2]}}</span></p><br><br></div>                        
                    </div>
                </td>    
                <td>
                    <button class="btn accept" style="margin-bottom:5px">Izmijeni</button>
                    <button class="btn decline">Ukloni</button>
                </td>
            </tr>
        </ng-container>
    </table>
    <button (click)="createCourse()" class="btn prof-add">Dodaj novi kolegij</button>
    