<ul>
    <li id="normalSchedule" (click)="normalSchedule('normalSchedule')">Raspored - sve</li>
    <li id="mySchedule" (click)="mySchedule('mySchedule')">Raspored mojih kolegija</li>
    <li id="demoSchedule" (click)="demoSchedule('demoSchedule')">Demonstratorski kolegij</li>
    <li id="chosenDemo" (click)="chosenDemo('chosenDemo')">Izabrane demonstrature</li>
    <li id="availableDemo" (click)="availableDemo('availableDemo')">Dostupne demonstrature</li>
    <li id="myStatistic" (click)="myStatistic(myStatistic)">Statistika demonstratura</li>
</ul>